<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Business Casual - Start Bootstrap Theme</title>
<!-- Bootstrap Core CSS --><link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS --><link href="css/business-casual.css" rel="stylesheet">
<!-- Fonts --><link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--><!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    xEpan-ATK-Header-End-->
</head>
<body>
<div class="brand xepan-component xepan-editable-text xepan-no-richtext" xepan-component-name="Company Name" id="c5f5bda0-a0d1-44de-ea88-810994385590" contenteditable="false">Business Casual</div>
    <div class="address-bar xepan-component xepan-editable-text xepan-no-richtext" xepan-component-name="Company Address" id="20863fa1-2ad0-4683-e191-1e90c52ff0eb" contenteditable="false">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

    <!-- Navigation -->
    
    <div id="19fbbe57-60fb-4aa8-ad6c-fda057635932" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 100%; margin: 0px auto; background-color: rgb(255, 255, 255);" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable"><div id="8c1891bb-d9c7-45e3-b9aa-f759e30c6232" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width:85%;margin:0 auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable"><nav id="40c7f84b-1e70-4d8f-8b70-3442cc02bfda" style="display: block; border-width: 0px;" role="navigation" xepan-component="xepan/cms/Tool_BootStrapMenu" xbootmenu-align="left" class="navbar navbar-default xepan-component" scrollamount=""><div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <div class="navbar-brand-wrapper navbar-brand"><a title="Brand Name" class="xepan-brand">Brand Name</a></div>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-left">
    <ul id="xepan-boostrap-ul" class="nav navbar-nav navbar-right">
<li><a href="?page=index">HOME</a></li>
<li><a href="?page=about">ABOUT</a></li>
<li><a href="?page=blog">BLOG</a></li>
<li><a href="?page=contact">CONTACT</a></li>
</ul>
</div>
  <script>
    $(document).ready(function(){
    	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-toggle').dropdown();
    	
    	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-submenu a').on("click", function(e){
    	    $(this).next('ul').toggle();
    	    e.stopPropagation();
    	    e.preventDefault();
    	});
    });
  </script></nav></div></div>
<div id="2d3d15bb-6493-4add-9d64-0b017171ac07" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" class="xepan-component xepan-page-wrapper" style="min-height: 200px;">{$Content}</div>
    <!-- Navigation -->


    <footer><div class="container xepan-component">
            <div class="row xepan-component" id="ffb25ea8-3727-4310-c8b2-719e1f1b0aa4">
                <div class="xepan-component xepan-sortable-component">
                    <div class="col-lg-12 text-center xepan-component" xepan-component-name="Footer" id="bbd6a3ac-fb0e-46c0-f1e0-2b1671222b12" contenteditable="false">
                        <p class="xepan-component xepan-editable-text xepan-no-richtext">Copyright © Your Website 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- jQuery --><!-- <script src="js/jquery.js"></script> --><!-- Bootstrap Core JavaScript --><script src="js/bootstrap.min.js" style=""></script><!-- Script to Activate the Carousel --><script style="">
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>
